@model DA.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-header breadcrumb breadcrumb-dash">

        <a asp-area="Amin" asp-action="Index" class="breadcrumb-item "> <i class="topnav-icons fa fa-home w3-left w3-bar-item w3-button"> </i> Dashboard</a>
        <a class="breadcrumb-item" asp-action="Index"> Danh sách quyền truy cập </a>
        <span class="breadcrumb-item active"> Chỉnh sửa quyền truy cập </span>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h2 class="h3 mb-2 text-gray-800">Create</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-group col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RoleName" class="control-label"></label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                             <input type="submit" value="Back" class="btn btn-secondary" asp-action="Index" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>