@model DA.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="page-header breadcrumb breadcrumb-dash">

        <a asp-area="Amin" asp-action="Index" class="breadcrumb-item "> <i class="topnav-icons fa fa-home w3-left w3-bar-item w3-button"> </i> Home</a>
        <a class="breadcrumb-item" asp-action="Index"> Danh sách quyền truy cập </a>
        <span class="breadcrumb-item active"> Xác nhận xóa quyền truy cập </span>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <h2 class="h3 mb-2 text-gray-800">Delete</h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">Xác nhận xóa quyền truy cập </h4>
            <div class="table-responsive">
                <table class="product-info-table m-2">
                    <tbody>
                        <tr>
                            <td>Tên Quyền Truy Cập:</td>
                            <td class="text-dark form-weight-semibold col-sm-3"> @Html.DisplayFor(model => model.RoleName)</td>
                        </tr>
                        <tr>
                            <td>Mô tả:</td>
                            <td class="text-dark form-weight-semibold col-sm-3"> @Html.DisplayFor(model => model.Description)</td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="RoleId" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <input type="submit" value="Back" class="btn btn-secondary" asp-action="Index" />
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
